<div class="aspage" style="background-color:whitesmoke;"> 
  <div style="width:%100; height:300px" class="text-center">
      <img src="~/img/ofc.jpeg" width="%100" height="350" >
  </div>
<section class="introduction-section">
    <h1>Introduction</h1>
    <p>Hi Everyone!
 
 Currently, we are studying Computer Engineering in Aydın. We are keen on computers.That’s the common thing about all of us.Also we all have kinds of hobbies and interests that’s why we decided to make a blog.Thanks to that we will be able to share lots of interesting knowledge about some sort of areas
 </p>
</section>
<section class="location-section">
    <h1>Let’s introduce ourself little bit</h1>
      <p>One of our team member is Çağla.The ginger one:) She is a professional swimmer also she makes music in her free times.Also she is crazy with business ideas and technology.She is planning to set her business with her friends.
Our second team member is Okan.The curly haired boy in the middle:)He loves playing basketball that’s why such tall he is.By the way he is also a music lover he listens rock music mostly also he is interested in statics.He searches a lot in his free times.
 And  our last team member is Göksu.The lovely girl in front:) She is completely a gourmet.Especially she likes sweetie things such as macaroon.One macaroon is enough to make her smile.
</p>
</section>

<div style="height:50px"></div>

</div>