@model Blog
@{
  Layout="~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts{
  <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>
      CKEDITOR.replace("Body");
    </script>
}
 <div class="bg-primary text-white p-1 text-center" >
      <h3>Edit Blog</h3>
    </div>
<div class="container mt-2">
<form method="POST" asp-controller="Blog" asp-action="Edit" enctype="multipart/form-data">
  <div class="form-group">
    <input type="hidden" asp-for="ViewCoun"/>
    <input type="hidden" asp-for="BlogId"/>
    <input type="hidden" asp-for="Image"/>
    <label asp-for="Title">Title</label>
    <input asp-for="Title" class="form-control" >
  </div>
  <div class="form-group">
    <label asp-for="Description">Description</label>
    <textarea asp-for="Description"  class="form-control" ></textarea>
  </div>


  <div class="form-group">
    <label asp-for="Body">Body</label>
    <textarea asp-for="Body"  class="form-control" ></textarea>
  </div>


  <div class="form-group">
    <img src="~/img/@Model.Image" width="120">
    <input type="file" name="pic"  id="file" class="form-control"/>
  </div>

    <div class="form-check">
    <label class="form-check-label">
    <input asp-for="isSlider"  class="form-check-input"/>
    is Slider</label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
    <input asp-for="isHome"  class="form-check-input"/>
    is Home</label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
    <input asp-for="isApproved"  class="form-check-input"/>
    is Approved</label>
  </div>

  <div class="form-group">
    <label asp-for="CategoryId"></label>
    <select class="form-control" required asp-for="CategoryId" asp-items="ViewBag.Categories">
    </select>
  </div>
  
   <div>
        <div class="text-danger" asp-validation-summary="All">
          </div>
      </div>

  <button type="submit" class="btn btn-primary mb-2">Submit</button>
 
</form>

</div>